<div class="row">
  <div class="col-xs-12">
    <h3>Add new servers or blueprints</h3>
    <label style="color: gray" for="srvName">Server Name</label>
    <input
      id="srvName"
      style="margin-bottom: 1rem"
      #serverNameInput
      type="text"
      class="form-control"
    />
    <label style="color: gray" for="srvContent">Server Content</label>
    <input
      id="srvContent"
      #serverContentInput
      type="text"
      class="form-control"
    />
    <br />
    <button
      style="margin-right: 0.7rem"
      (click)="onAddingServer(serverNameInput)"
      class="btn btn-primary"
    >
      Add server
    </button>
    <button
      (click)="onAddingBluePrint(serverNameInput)"
      class="btn btn-primary"
    >
      Add server blueprint
    </button>
  </div>
</div>
